@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

body {
  margin: 0;
  color: rgb(201, 218, 197);
  font-family: "Montserrat";
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .newQuotes {
    display: none;
  }
}

.time {
  font-size: 45px;
  border: 8px groove rgb(179, 213, 172);
  padding: 28px;
  border-radius: 9999px;
  box-shadow: 2px 3px 10px 2px rgb(179, 213, 172);
}

.quotes {
  margin-top: 40px;

  position: relative;
  .quotesAddBtn {
    display: none;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%); // 앞 x축, 뒤 y축
  }

  &:hover {
    .quotesAddBtn {
      display: inline-block;
    }
  }
  .quotesMsg {
    font-size: 28px;
  }
}
